In [274]:
class Person:
    pass
p = Person()
print(p)

<__main__.Person object at 0x0726F778>

In [275]:
def show():
    x =18
    def show2():
        global x
        x*=2;
        print(x)
    show2()
    print(x)

In [276]:
show()

100
18

In [242]:
x = 50

In [243]:
users ={
    "tilak":"Tilak123",
    "parth":"Parth123"
}

In [246]:
def show(username,password):
    if username in users and users[username] == password:
        print("Authenticated")
    else :
        print("False")

In [249]:
show("tilak","Tilak123")

Authenticated

In [266]:
@login_required
def add(a,b):
    print(a+b)

In [267]:
add(2,3)

Not authenticated

In [256]:
def login_required(func):
    def wrapper(username,password,*args , **kwargs):
        if username in users and users[username] == password:
            func(*args, **kwargs)
        else:
            print("Not authenticated")
    return wrapper

In [258]:
protected_add = login_required(add)

In [263]:
print(protected_add)

<function login_required.<locals>.wrapper at 0x071CEE38>

In [273]:
add("tilak","Tilak1234",2,50)

Not authenticated

In [290]:
class Person:
    name ="Ironman"
    def __init__(self,name):
        print("new object created")
        self.name = name
     
    def say_name(self):
        print("I am ",self.name)
p = Person("vgv")
# p.say_name(tilak)
Person.say_name(p)

new object created
I am  vgv

In [299]:
class Car:
    def __init__ (self,model,mileage):
        self.model = model
        self.mileage = mileage
    def __str__(self):
        return "{} {}".format(self.model,self.mileage)
    def __repr__(self):
        return "{}".format(self.model)
    def __eq__(self,other):
        return self.mileage == other.mileage
    def __add__(self,other):
        return self.mileage + other.mileage

In [300]:
c1 = Car('a',2)
c2 = Car('b',2)

In [301]:
c1+c2

4

In [302]:
c1==c2

True

In [303]:
print(c1)

a

In [314]:
cout << "jatin" << "katyal" <<"csdvxdv "

jatinkatyalcsdvxdv

In [312]:
class Ostream:
    def __lshift__(self,other):
        print(other,end='')
        return self
    
cout = Ostream()

In [322]:
temp = (1,1,1,2,20)

In [323]:
print(temp)

(1, 1, 1, 2, 20)

In [324]:
class School_members:
    def __init__(self,name,age):
        self.name = name
        self.age = age
        print("(Initialized School member: {})".format(self.name))
    def tell(self):
        print("Name: {} Age : {} ".format(self.name,self.age),end=" ")

In [336]:
class Teacher(School_members):
    def __init__(self,name,age,salary):
        super().__init__(name,age)
        self.salary =salary
        print("(Initialized Teacher: {})".format(self.name))
    def tell(self):
        School_members.tell(self)
        print("Salary : {:d}".format(self.salary))

In [337]:
class Student(School_members):
    def __init__(self,name,age,marks):
        super().__init__(name,age)
        self.marks = marks
        print("(Intialized Students {})".format(self.name))
    def tell(self):
        School_members.tell(self)
        print("Marks: {:d}".format(self.marks))

In [338]:
t = Teacher("Mr ujjwal",40,30000)
s = Student("tilak",20,80)

(Initialized School member: Mr ujjwal)
(Initialized Teacher: Mr ujjwal)
(Initialized School member: tilak)
(Intialized Students tilak)

In [339]:
s.tell()
t.tell()

Name: tilak Age : 20  Marks: 80
Name: Mr ujjwal Age : 40  Salary : 30000